<section class="page-section">
    <header>
        <div class="logo">
            <p><span>Ranked</span>&nbsp;<span>Health</span><span>Care</span></p>
        </div>
    </header>

    <div>
        <h3 class="page-title">
            How it works!
        </h3>
        <div>
            <article>
                <span>
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                </span>
                <div>
                    <h5>Select Medical Field</h5>
                    <p>Enter zipcode so we can match you with aestheitcians within the area...</p>
                </div>
            </article>
            <article>
                <span>
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </span>
                <div>
                    <h5>Enter Zipcode</h5>
                    <p>Enter zipcode so we can match you with aestheitcians within the area...</p>
                </div>
            </article>
            <article>
                <span>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <div>
                    <h5>Choose Available Time</h5>
                    <p>Select discounted day & time the matches with your availability list of all aesthetic clinic within the area...</p>
                </div>
            </article>
            <article>
                <span>
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                </span>
                <div>
                    <h5>Select Treatment</h5>
                    <p>Enter zipcode so we can match you with aestheitcians within the area...</p>
                </div>
            </article>
            <button class="main-button" type="submit">Get Started</button>
        </div>
    </div>
</section>