<section class="page-section">
    <header>
        <p>Login</p>
    </header>

    <div>
        <div class="logo">
            <p><span>Ranked</span>&nbsp;<span>Health</span><span>Care</span></p>
        </div>
        <form id="loginForm">
            <label class="input-control" for="username"><input type="text" id="username" placeholder="Email Address" /></label>
            <label class="input-control" for="password"><input type="password" id="password" placeholder="Password" /></label>
            <input class="main-button" type="submit" value="Sign In" />
        </form>
    </div>
</section>